@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton/themes/mona";
@import "@skeletonlabs/skeleton/themes/vox";

@source inline("font-bold italic line-through underline font-mono");
@source "../../../packages/ui/lib/components";

.select,
.input,
.textarea,
.input-group {
  background-color: var(--color-surface-50-950);
  color: var(--color-surface-950-50);
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
